body {
  font-family: "inter", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./background.jpg);
  background-size: cover;
}

#logo {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5rem;
}

span {
  color: #b7aef2;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  width: fit-content;
  border-radius: 20px;
  padding: 1rem;
  background-color: rgba(183, 174, 242, 0.5);
  margin-bottom: 6rem;
}

#city {
  padding: 0.5rem;
}

input {
  height: 2rem;
  border-radius: 20px;
  text-align: center;
  background-color: transparent;
  color: black;
  border-color: black;
}

#submit {
  height: 2rem;
  margin: 10px;
  border-radius: 100px;
  border: 0px;
  background-color: transparent;
}

#unit > button {
  background-color: white;
  border: 0px;
  font-weight: 400;
  background-color: transparent;
}

.active {
  color: #238c6e;
}

#weather-info {
  text-align: center;
  background-color: rgba(242, 238, 235, 0.75);
  border-radius: 25px;
}

#location {
  text-align: center;
  font-size: 50px;
  margin: 2rem;
  margin-bottom: 0rem;
}

#cond-temp {
  display: flex;
  justify-content: center;
}

#condition,
#temperature {
  margin-left: 2rem;
  margin-right: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

#icon {
  width: 4rem;
}
